/Informatique/Validation PIC32MZ2048EF-100/firmware/LED1-2.X/dist/
/Informatique/Validation PIC32MZ2048EF-100/firmware/LED1-2.X/build/
/Informatique/firmware/CubeDebMeteo.X/build
*.o
/Informatique/usb_apps_device-master/apps/cdc_com_port_single/firmware/pic32mz_ef_sk.X/build/
/Informatique/usb_apps_device-master/apps/cdc_com_port_single/firmware/pic32mz_ef_sk.X/dist/
/Informatique/usb_apps_device-master/apps/cdc_com_port_single/firmware/pic32mz_ef_curiosity_2.X/build/
/Informatique/usb_apps_device-master/apps/cdc_com_port_single/firmware/pic32mz_ef_curiosity_2.X/dist/
/Informatique/PIC32MZ/putc.X/build/
/Informatique/PIC32MZ/putc.X/dist/
/Informatique/putc1/firmware/putc1.X/build/